<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
  <connectionStrings>
    <!--<add name="ConnectionString" connectionString="Data Source=H:\Test\DB\BikeGpx.sdf;Max Database Size=4091;Password=1111; SSCE:Max Buffer Size=4096" providerName="System.Data.SqlServerCe"/>-->
    <add name="ConnectionString" connectionString="Data Source=H:\GpsManager\GpsLogManager\DB\BikeGpx.db;Version=3;"/>
    <!--<add name="ConnectionString" connectionString="Data Source=BikeGpx.db;Version=3;"/>-->
  </connectionStrings>
</configuration>
